.timer{
    margin-top: 100px;
    // padding-top: 200px;
    display: flex;
    align-items: center;
    padding-top: 94px;
	padding-bottom: 94px;
    justify-content: center;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 30px;
}

.text{
    margin-top: 40px;
    font-size: 30px;
    // color: var(--main-accente-color);
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    background-color: rgba(155, 180, 212, 0.527);
}

.img{
    // position: absolute;
    // top: 20px;
    // left: 0;
    // z-index: 0;
    background-image: url(../images/photo_2021-07-22_12-22-24.jpg);
    background-repeat: no-repeat;
    background-size:contain
    
}

.descr{
    color: white;
    font-size: 25px;
    text-align: center;
    border: rgb(0, 0, 0) 2px solid;

    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(13, 199, 223, 0.562);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
     0px 1px 1px 0px rgba(0,0,0,0.14), 
     0px 1px 3px 0px rgba(0,0,0,0.12);
}
.descr2{
    opacity: 0;
}