.timer{
    margin-top: 100px;
    // padding-top: 200px;
    display: flex;
    align-items: center;
    padding-top: 94px;
	padding-bottom: 94px;
    justify-content: center;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 30px;
}